# ==========================================
# Configuration template for postgresql db
# ==========================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=DIGITAR_CONTRASEÑA_PRIVADA
POSTGRES_DB=NOMBRE_DB_EN_LOCAL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ==========================================
# Async URL connection string (for SQLAlchemy)
# ==========================================

DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# ==========================================
# Security and JWTs  (JSON Web Tokens)
# ==========================================
JWT_SECRET_KEY=ecotur_secreto_super_seguro_2026
ALGORITHM=x
ACCESS_TOKEN_EXPIRE_MINUTES=tiempo_en_minutos
VERIFICATION_TOKEN_EXPIRE_MINUTES=tiempo_en_minutos


# ==========================================
# Cloud Storage (Azure Blob Storage)
# ==========================================
AZURE_STORAGE_CONNECTION_STRING=Endpoint=sb://...
AZURE_CONTAINER_NAME=ecotur-images

